
<footer th:fragment="footer" class="footer">

	<div class="footer__inner"> 
		
		<div class="footer__brand">
			<a href="/main">
				<img src="/images/qube7_ci.png" class="brand-img" alt="큐브7 로고">
			</a>
		</div>
		<div class="footer__content">
			<p class="footer__company">(주) 큐브7</p>
			<address class="footer__addr">
				<span class="footer__line">사업자등록번호 : <b>796-86-03081</b></span>
				<span class="footer__line">주소 : 서울특별시 송파구 송이로 96, 2층(가락동, 디오티스 빌딩)</span>
			</address>
			<p class="footer__copy">Qube7 INC. All rights reserved</p>
		</div>
	</div>
	
</footer>
