
	<header th:fragment="header" class="header navbar sticky-top">
		<nav class="header__inner">
			<!-- Brand -->
			<div class="header__brand">
				<!-- Brand logo -->
				<a th:href="@{/main}">
					<img th:src="@{/images/qube7_ci.png}" class="brand-img" alt="큐브7 로고">
				</a>
				<!-- Brand title -->
				<p class="visually-hidden">주식회사 큐브7</p>
			</div>
			<div class="header__content">
				<!-- Navigation Toggler -->
				<button class="ic-btn navbar-toggler" type="button" aria-label="Navigation Toggler">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 36 33" fill="none">
						<rect width="36" height="5" fill="#444444"/>
						<rect y="14" width="36" height="5" fill="#444444"/>
						<rect y="28" width="36" height="5" fill="#444444"/>
					</svg>
					<span class="visually-hidden">전체 메뉴</span>
				</button>
				<!-- Navigation -->
				<div class="offcanvas" tabindex="-1" id="mainNavbar" aria-label="Main Navigation">					
					<div class="offcanvas-body">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" th:href="@{/about}">회사소개</a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >비즈니스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" th:href="@{/business/cs}">고객 맞춤 CS 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"th:href="@{/business/operation}">비즈니스 운영 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"th:href="@{/business/o4o}">O4O 채널 솔루션</a>
									</li>
									<li class="nav-item">
										<a class="nav-link"th:href="@{/business/mycar}">All-In-One MYCar 솔루션</a>
									</li>
								</ul>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link" >서비스</a>
								<ul class="dropdown-menu">
									<li class="nav-item">
										<a class="nav-link" th:href="@{/services/platform}">QR 커뮤니케이션 플랫폼</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" th:href="@{/services/app}">QR 커뮤니케이션 App</a>
									</li>
								</ul>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/culture}" rel="noopener">문화</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" th:href="@{/contact}" rel="noopener">문의하기</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>





