
@charset "utf-8";


/* Pretendard Font Family 정의 */
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/*======================================*/
/* ROOT */
/*======================================*/
:root {
	/* 기본 색상 */
	--white: #FFFFFF;
	--black: #000000;
	/* 시스템 컬러 */
	--color-primary: #5A4FCF;
	--color-secondary: #4B506A;
	--color-success: #4B830D;
	--color-warning: #FFB546;
	--color-error: #D93B30;
	/* 배경색 */
	--color-bg: #FFFFFF;
	--color-bg-tint: #F7F6FF; /*연보라색*/
	--color-bg-alt: #FBFBFB;
	/* 텍스트 색상 */
	--text-default: #181A1B;
	--text-light: #66707A;
	--text-disabled: #A8B3BD;
	--text-inverse: #FFFFFF;
	--text-primary: var(--color-primary);
	--text-success: var(--color-success);
	--text-warning: var(--color-warning);
	--text-error: var(--color-error);




	/* Token variables : 디자인 토큰 */
	/* 색상 토큰 */
	--black: #000;
	--black-rgb: 0,0,0;
	--white: #fff;
	--white-rgb: 255,255,255;	
	
	--blue-500: #0d6efd;
	--blue-500-rgb: 13,110,253;
	--red-500: #D93B30;
	--red-500-rgb: 217,59,48;
	--green-500: #4B830D;
	--green-500-rgb: 75,131,13;
	--yellow-500: #FFB546;
	--yellow-500-rgb: 255,181,70;

	/* grayScale */
	--gray-100: #f8f9fa;
	--gray-200: #e9ecef;
	--gray-300: #dee2e6;
	--gray-400: #ced4da;
	--gray-500: #adb5bd;
	--gray-600: #6c757d;
	--gray-700: #495057;
	--gray-800: #343a40;
	--gray-900: #212529;	

	/* 폰트 토큰 */ 
	--font-base: 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', system-ui, -apple-system, sans-serif;

	/* Semantic variables : UI 반영 */
	--color-primary: #5A4FCF;
	--color-primary-rgb: 90,79,207;
	--color-secondary: #4B506A;
	--color-secondary-rgb: 90,79,207;

	--color-success: var(--green-500);
	--color-success-rgb: 90,79,207;
	--color-danger: var(--red-500);
	--color-danger-rgb: 90,79,207;
	--color-warning: var(--yellow-500);
	--color-warning-rgb: 90,79,207;



	/* 텍스트 색상 ?? 확인 후 삭제*/ 
	--text-default: #181A1B;
	--text-light: #66707A;
	--text-disabled: #A8B3BD;
	--text-inverse: #FFFFFF;

	--color-bg: var(--white);
	--color-bg-rgb: var(--white-rgb);
	--color-bg-alt: #F6F7FC;
	--color-bg-alt-rgb: 246,247,252;

	--color-text: var(--gray-900);
	--color-text-rgb: var(--gray-900-rgb);
	--color-border: var(--gray-300);
	--color-border-rgb: var(--gray-300-rgb);
	
	/* body font */	
	--body-font-family: var(--font-base);
	--body-font-size: 1rem;
	--body-font-weight: 400;
	--body-line-height: 1.5;
	--body-font-color: #181a1b;
	--body-font-color-rgb: 24,26,27;



}
/* reboot ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *::before, *::after {
	box-sizing: border-box;
}
:focus {
	outline-width:medium;
}
a {
	text-decoration: none;
	color: inherit;
}
img, svg {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	text-transform: none;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*======================================*/
/* Global */
/*======================================*/
body {
	margin: 0;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	color: var(--body-color);
	/* letter-spacing: -0.025em; */
	background-color: var(--color-bg);
	-webkit-text-size-adjust: 100%;
}

/*======================================*/
/* Common UI */
/*======================================*/
/* hidden */
.hidden, .hide {
	display: none!important;
}
.visually-hidden {
	position: absolute!important;
	width: 0!important;
	height: 0!important;
	padding: 0!important;
	margin: -1px!important;
	overflow: hidden!important;
	clip: rect(0, 0, 0, 0)!important;
	white-space: nowrap!important;
	border: 0!important;
	color: transparent!important;
	font-size: 0!important;
	opacity: 0!important;
}
.bg-tint {
	background-color: var(--color-bg-tint);
}
.bg-alt {
	background-color: var(--color-bg-alt);
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
/* col, row의 기본 스타일 */
.row { /* row: 열 */
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}
.row > *,
.col { /* col: row 안 아이템 */
	flex: 1;
}
.column { /* 세로정렬 flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 16px;
}


/*======================================*/
/* Layout */
/*======================================*/
/* .section-block의 공통 스타일 */
.section-block {
	width: 100%;
	max-width: 1580px;
	margin: 0 auto;
	padding: 72px 36px;
}
.section-title {
	font-size: 46px;
	font-weight: 700;
	color: var(--text-default);
}
.section-title-lg {
	font-size: 52px;
}
.section-text {
	font-size: 26px;
	color: var(--text-light);
	line-height: 1.5;
}
.text-primary {
	color: var(--text-primary);
}

.tag {
	display: inline-block;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--color-primary);
	padding: 1rem 2rem;
}

.tag-text {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	color: var(--text-inverse);
}








/* 헤더 */
.ic-btn {
	padding: 0.5rem;
}
.header {
	width: 100%;
	max-width: 1320px;	
	display: flex;
	align-items: center;
	min-height: 5rem;
	padding: 1rem 0;
	margin: auto;
	/* position: sticky; */
	/* top: 0; */
	z-index: 1020;
}
.header__inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1rem;
	row-gap: .75rem;
	padding: 0 .75rem;
}
.header__brand {

}
.header__content {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.brand-img {
	width: 100px;
}
.offcanvas-body {
	display: flex;
	align-items: center;
}
.navbar-nav  {
	display: flex;
	align-items: center;
	column-gap: 4.3750rem;
	margin-left: auto;
}

.navbar-nav a {
	font-size: 1rem;
	font-weight: 600;
	color: #000000;
	transition: color 0.3s;
	padding: .5rem;
}
.navbar-nav a:hover {
	color: #514EA0;
}

.navbar-toggler {
	display: none;
}


/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.navbar-toggler {
		display: block;
	}
	.navbar-nav  {
		
		flex-direction: column;
		margin-left: auto;
	}
	.offcanvas {
		visibility: hidden;
		width: 100%;
		max-width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		transform: translateX(100%);
		z-index: 1025;
		display: flex;
		flex-direction: column;		
		transition: transform 0.3s ease-in-out;
	}
	.offcanvas.is-show{
		visibility: visible;
		transform: none;
	}
}
/* dropdown */
.dropdown {
	position: relative;
}
.dropdown-menu {
	display: none;
	min-width: 8rem;
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 0.75rem;
	border-radius: 0.5rem;
	white-space: nowrap;
	
}

/* dropdown-menu : PC hover */
.dropdown:hover > .dropdown-menu {
	display: flex;
	flex-direction: column;
}

/* dropdown-menu : Mobile toggle*/
.dropdown-menu.is-open {
	display: block;
}