@charset "utf-8";


/* Pretendard Font Family 정의 */
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Pretendard";
	src: url("../../fonts/Pretendard-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

:root {
	/* Token variables : 디자인 토큰 */
	/* 색상 토큰 */
	--black: #000;
	--black-rgb: 0,0,0;
	--white: #fff;
	--white-rgb: 255,255,255;	
	
	--blue-500: #0d6efd;
	--blue-500-rgb: 13,110,253;
	--red-500: #D93B30;
	--red-500-rgb: 217,59,48;
	--green-500: #4B830D;
	--green-500-rgb: 75,131,13;
	--yellow-500: #FFB546;
	--yellow-500-rgb: 255,181,70;
	--violet-500: #5A4FCF; /* f */ 
	--violet-500-rgb: 90,79,207;
	
	/* grayScale */
	--gray-100: #f8f9fa;
	--gray-100-rgb: 248,249,250;
	--gray-200: #e9ecef;
	--gray-200-rgb: 233,236,239;
	--gray-300: #d9d9d9; /* f */ 
	--gray-300-rgb: 217,217,217;
	--gray-400: #c3c3c5; /* f */ 
	--gray-400-rgb: 195,195,197;
	--gray-500: #adb5bd;
	--gray-500-rgb: 173,181,189;
	--gray-600: #666666; /* f */ 
	--gray-600-rgb: 102,112,122;
	--gray-700: #4B506A;
	--gray-700-rgb: 75,80,106;
	--gray-800: #333333; /* f */ 
	--gray-800-rgb: 51,51,51;
	--gray-900: #222222; /* f */ 
	--gray-900-rgb: 34,34,34;
	
	
	/* 폰트 토큰 */ 
	--font-base: 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', system-ui, -apple-system, sans-serif;

	/* Semantic variables : UI */
	--color-primary: var(--violet-500);
	--color-primary-rgb: var(--violet-500-rgb);
	--color-secondary: var(--gray-700);
	--color-secondary-rgb: var(--gray-700-rgb);

	/* background */
	--bg-base: var(--white);
	--bg-base-rgb: var(--white-rgb);
	--bg-tint: #F7F6FF; /*연보라색*/
	--bg-tint-rgb: 247,246,255;
	--bg-alt: #FBFBFB;
	--bg-alt-rgb: 251,251,251;

	/* font */
	--text-base: var(--gray-800);
	--text-base-rgb: var(--gray-800-rgb);
	--text-light: var(--gray-600);
	--text-light-rgb: var(--gray-600-rgb);
	--text-inverse: var(--white);
	--text-inverse-rgb: var(--white-rgb);

	/* border --border- */
	/* shadow --shadow- */

/* 효과 */
	/* radius --border-radius- */
	--border-radius-sm: 4px;
  	--border-radius-lg: 12px;	

/* 컴포넌트 */
	/* body  */	
	--body-font-family: var(--font-base);
	--body-font-size: 0.7500rem;
	--body-font-weight: 400;
	--body-line-height: 1.5;
	--body-font-color: var(--text-base);
	--body-font-color-rgb: var(--text-base-rgb);



}
/* reboot ------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
*, *::before, *::after {
	box-sizing: border-box;
}
:focus {
	outline-width:medium;
}
a {
	text-decoration: none;
	color: inherit;
}
img, svg {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
button, input, optgroup, select, textarea {
	margin: 0;
	font: inherit;
	color: inherit;
}
button {
	text-transform: none;
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	margin: 0;
	font-family: var(--body-font-family);
	font-size: var(--body-font-size);
	font-weight: var(--body-font-weight);
	line-height: var(--body-line-height);
	color: var(--body-font-color);
	background-color: var(--color-bg);
	-webkit-text-size-adjust: 100%;
}
img {
	max-width: 100%;
	height: auto;
	display: block;
}
/* common ------------------------------------------------------- */
/* hidden */
.hidden, .hide {
	display: none!important;
}
.visually-hidden {
	position: absolute!important;
	width: 0!important;
	height: 0!important;
	padding: 0!important;
	margin: -1px!important;
	overflow: hidden!important;
	clip: rect(0, 0, 0, 0)!important;
	white-space: nowrap!important;
	border: 0!important;
	color: transparent!important;
	font-size: 0!important;
	opacity: 0!important;
}
/* padding */
.p-0 {
	padding: 0 !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.bg-tint {
	background-color: var(--color-bg-tint);
}
.bg-alt {
	background-color: var(--color-bg-alt);
}
/* row: 열 */
.row { 
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}
/* col: row 안 아이템 균등비율 필요 시*/
.col { 
	flex: 1;
}

/* 세로정렬 flex */
.column { 
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 36px;
}
.column-start {
	align-items: flex-start;
	text-align: left;
}
.column-end {
	align-items: flex-end;
	text-align: right;
}
/* .section-block 공통 */
.section-block {
	width: 100%;
	max-width: 1580px;
	margin: 0 auto;
	padding: 72px 36px;
}
.section__title {
	font-size: 46px;
	font-weight: 700;
	color: var(--text-default);
}
.section__title--lg {
	font-size: 52px;
}
.section__text {
	font-size: 26px;
	color: var(--text-default);
}
.section__text--lg {
	font-size: 34px;
}
.text--primary {
	color: var(--text-primary);
}
.text--gray {
	color: var(--text-light);
}
.text-wrap.column {
	gap: 16px;
}

/* tag */
.tag {
	display: inline-block;
	text-align: center;
	border-radius: 0.5rem;
	background-color: var(--color-primary);
	padding: 1rem 2rem;
}
.tag__text {
	display: inline-block;
	font-size: 22px;
	font-weight: 600;
	color: var(--text-inverse);
}
.tag__text--lg {
	font-size: 32px;
}
.tag--ghost {
	background-color: transparent;
}
.tag--ghost .tag__text {
	color: var(--text-primary);
}



/* layout ------------------------------------------------------- */
/* 헤더 */
.ic-btn {
	padding: 1em;
}
.header {
	width: 100%;
	max-width: 1320px;	
	display: flex;
	align-items: center;
	min-height: 5rem;
	padding: 1rem 0;
	margin: auto;
	/* position: sticky; */
	/* top: 0; */
	z-index: 1020;
}
.header__inner {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 1em;
	row-gap: 1em;
	padding: 0 1em;
}
.navbar-toggler {
	display: none;
}
.header__content {
	display: flex;
	align-items: center;
	margin-left: auto;
}
.brand-img {
	width: 100px;
}
.offcanvas-body {
	display: flex;
	align-items: center;
}
.navbar-nav {
	display: flex;
	align-items: center;
	column-gap: 5.8333em;
	margin-left: auto;
}
.nav-item {
	padding: 1em .5em;
}
.nav-link {
	font-size: 1.6667em;
	font-weight: 600;
	color: var(--gray-400)
}
.nav-link:hover {
	color: var(--color-primary);
}

/* dropdown */
.dropdown {
	position: relative;
}
.dropdown-menu {
	display: none;
	min-width: 16.3333em;
	position: absolute;
	top: 100%;
	left: 0;
	border: 1px solid #aaa;
	background-color: #fff;
	padding: 0.75rem;
	border-radius: 0.5rem;
	white-space: nowrap;
	
}

/* dropdown-menu : PC hover */
.dropdown:hover > .dropdown-menu {
	display: flex;
	flex-direction: column;
}

/* dropdown-menu : Mobile toggle*/
.dropdown-menu.is-open {
	display: block;
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
	.navbar-toggler {
		display: block;
	}
	.navbar-nav {
		
		flex-direction: column;
		margin-left: auto;
	}
	.offcanvas {
		visibility: hidden;
		width: 100%;
		max-width: 100%;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		transform: translateX(100%);
		z-index: 1025;
		display: flex;
		flex-direction: column;		
		transition: transform 0.3s ease-in-out;
	}
	.offcanvas.is-show {
		visibility: visible;
		transform: none;
	}
}