<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
    <div class="section">
		<div class="section-block">
			<div class="text-wrap column">
				<h3 class="section__title">
					고객 데이터 수집을 통한<br>
					개인화 마케팅
				</h3>
				<p class="section__text section__text--lg">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
                <p class="section__text">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
			</div>
		</div>
	</section>
    <div class="section">
		<div class="section-block">
			<div class="text-wrap column">
				<h3 class="section__title">
					고객 데이터 수집을 통한<br>
					개인화 마케팅
				</h3>
				<p class="section__text section__text--lg">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
                <p class="section__text">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
			</div>
		</div>
	</section>
</main>
</body>
</html>
