<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
    <div class="section bg-img about">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title section__title--lg">
					한 주의 일상적 가치를 스캔하다.
				</h3>
				<p class="section__text section__text--lg">
					‘Scan the Week’s Daily Values’
				</p>
				<p class="section__text">
					우리는 QR 커뮤니케이션의 선구자로서, 뛰어난 기술력과 다양한 경험의 노하우를 담아낸 서비스인<br>
                    글로벌 QR 커뮤니케이션 플랫폼을 제공하여 “일상 속 커뮤니케이션의 가치”를 제공합니다.
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title">
					최초의 연결을<br>
					시작하다.
				</h3>
				<p class="section__text">
					Qube7 법인 설립 이후 국내 최초의 QR<br>
                    커뮤니케이션 App 서비스 ‘QRcall’ 을<br>
                    런칭하며 연결의 시작을 알렸습니다.
				</p>
			</div>
			<div class="text-wrap column column-start">
				<h3 class="section__text section__text--lg">
					2024
				</h3>
				<p class="section__text">
					<span>10</span>QR 커뮤니케이션 APP ‘QRcall’ 런칭
				</p>
                <p class="section__text">
					<span>03</span>최초의 연결, ‘Qube7’ 설립
				</p>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					연결을 통해 성장하는 당신의 비즈니스
				</h3>
			</div>
			<!-- slide -->
			<!-- /slide -->
		</div>
	</div>
    <div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					오시는 길
				</h3>
				<p class="section__text">
					서울특별시 송파구 송이로 96, 2층(가락동, 디오티스빌딩)
				</p>
			</div>
			<!-- slide -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.4419117166617!2d127.1183274764035!3d37.497494228083404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca5f97de8eedb%3A0xc75043730e8a633!2z65SU7Jik7Yuw7Iqk67mM65Sp!5e0!3m2!1sko!2skr!4v1756192367871!5m2!1sko!2skr" width="100%" height="575" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<!-- /slide -->
		</div>
	</div>
</main>
</body>
</html>
