<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
	<section class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title section__title--lg">
					고객 인게이지먼트를 강화하는<br>
					고객 맞춤 CS 솔루션
				</h3>
				<p class="section__text text--gray">
					고객 인게이지먼트를 강화 할 수 있는 향상된 상담 환경과<br>
					고객 만족도를 향상 시키는 고객 맞춤 CS 솔루션을 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/cs/business-cs01.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#맞춤 상담 환경</span></div>
				<h3 class="section__title">
					고객·제품 데이터 기반의<br>
					고객 맞춤 상담 환경
				</h3>
				<p class="section__text text--gray">
					고객이 등록·선택한 정보와 QRcall을 통해 등록한 제품 정보를 활용해<br>
					제품 별 서비스 페이지와 고객 별 상담 환경을 제공할 수 있습니다.
				</p>
			</div>
			<div class="row">
				<div class="image-wrap">
					<img class="img" th:src="@{/images/business/cs/business-cs02.png}" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" th:src="@{/images/business/cs/business-cs03.png}" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#쉬운 커뮤니케이션</span></div>
				<h3 class="section__title">
					한번의 등록으로 반복되는 과정 없이<br>
					편하게 연결되는 쉬운 커뮤니케이션
				</h3>
				<p class="section__text text--gray">
					복잡하고 반복되는 정보 입력이나, 별도의 앱 설치가 필요 없는<br>
					효율적인 커뮤니케이션 서비스를 제공할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/cs/business-cs04.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#데이터 수집</span></div>
				<h3 class="section__title">
					고객의 방문·행동·상담 데이터를<br>
					실시간으로 수집·분석
				</h3>
				<p class="section__text text--gray">
					고객의 서비스 페이지 방문, 페이지 내 행동, 상담 데이터를<br>
					실시간으로 수집하고 분석하여 데이터 기반 인사이트를 실시간으로 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/cs/business-cs05.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#개인화 전략</span></div>
				<h3 class="section__title">
					고객 및 상담 데이터 기반의<br>
					개인화 상담 및 마케팅 전략 도출
				</h3>
				<p class="section__text text--gray">
					고객과 상품 데이터와 수집된 방문·행동·상담 데이터 기반의<br>
					개인화 상담 및 마케팅 전략을 도출 할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/cs/business-cs06.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-tint">
		<div class="section-block column">
			<div class="text-wrap">
				<h3 class="section__title">
					고객 만족과 로열티를 높이는<br>
					<span class="text--primary">고객 맞춤 CS 솔루션</span>을 지금 경험하세요!
				</h3>
			</div>
		</div>
	</section>
</main>
</body>
</html>
