<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
	<section class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title section__title--lg">
					온라인과 오프라인을 연결하는<br>
					O4O 채널 솔루션
				</h3>
				<p class="section__text text--gray">
					온·오프라인 모든 공간에서 고객에게만 집중 할 수 있도록<br>
					간편한 O4O 채널 솔루션을 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img th:src="@{/images/business/o4o/business-o4o01.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#접근성</span></div>
				<h3 class="section__title">
					전용 QR 코드와 Custom URL로<br>
					더 간편한 고객 접근
				</h3>
				<p class="section__text text--gray">
					전용 QR 코드와 기억하기 쉬운 Custom URL을 통해<br>
					복잡한 과정 없이, 간단하게 고객을 유입 시킬 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img th:src="@{/images/business/o4o/business-o4o02.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#차별화</span></div>
				<h3 class="section__title">
					음성 안내로 시작되는<br>
					새로운 고객 경험
				</h3>
				<p class="section__text text--gray">
					서비스 페이지 진입 시 재생되는 음성 안내로<br>
					고객에게 차별화된 경험을 제공 할 수 있습니다.
				</p>
			</div>
			<div class="row">
				<div class="image-wrap">
					<img th:src="@{/images/business/o4o/business-o4o03.png}" alt="">
				</div>
				<div class="image-wrap">
					<img th:src="@{/images/business/o4o/business-o4o04.png}" alt="">
				</div>
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#브랜드 경험</span></div>
				<h3 class="section__title">
					서비스 페이지 하나로 완성하는<br>
					차별화된 브랜드 경험
				</h3>
				<p class="section__text text--gray">
					브랜드의 톤앤매너가 반영된 서비스 페이지와 Custom URL을 통해<br>
					강화된 브랜드 경험을 제공할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img th:src="@{/images/business/o4o/business-o4o05.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#개인화 마케팅</span></div>
				<h3 class="section__title">
					고객 데이터 수집을 통한<br>
					개인화 마케팅
				</h3>
				<p class="section__text text--gray">
					서비스 페이지 방문·행동 데이터를 활용한<br>
					고객 맞춤형 개인화 마케팅을 실행 할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img th:src="@{/images/business/o4o/business-o4o06.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-tint">
		<div class="section-block column">
			<div class="text-wrap">
				<h3 class="section__title">
					<span class="text--primary">O4O 채널 솔루션으로 연결</span>하는<br>
					온라인과 오프라인의 경험
				</h3>
			</div>
		</div>
	</section>
</main>
</body>
</html>
