<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
	<section class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title section__title--lg">
					노코드로 손쉽게 비즈니스를<br>
					운영하고 고객과 연결하세요
				</h3>
				<p class="section__text text--gray">
					노코드로 쉽게 만드는 페이지와 다양한 연결 기능을 통해, 간편하게<br>
					비즈니스를 운영하는 비즈니스 운영 도메인 솔루션을 제공합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/operation/business-operation01.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#노코드 제작</span></div>
				<h3 class="section__title">
					코딩 없이 노코드로 제작하는<br>
					기업 전용 서비스 페이지
				</h3>
				<p class="section__text text--gray">
					코딩 없이 빠르게 제작하는 기업 전용 서비스 페이지로<br>
					빠르게 고객 접점을 만들고 서비스를 운영 할 수 있습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/operation/business-operation02.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-alt">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#고객 접근성</span></div>
				<h3 class="section__title">
					다양한 연결 기능으로<br>
					고객 접근성 확대
				</h3>
				<p class="section__text text--gray">
					다양한 연결 기능으로 고객 커뮤니케이션 채널을 다양화하고<br>
					더 많은 고객과 쉬운 커뮤니케이션이 가능합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/operation/business-operation03.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<div class="tag"><span class="tag__text">#데이터 기반 운영</span></div>
				<h3 class="section__title">
					데이터를 활용한<br>
					고객 맞춤 비즈니스 운영
				</h3>
				<p class="section__text text--gray">
					고객이 등록한 정보와 서비스 페이지에서 발생하는 데이터 기반의<br>
					비즈니스 운영으로 고객 맞춤 관리와 서비스 운영이 가능합니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/business/operation/business-operation04.png}" alt="">
			</div>
		</div>
	</section>
	<section class="section bg-tint">
		<div class="section-block column">
			<div class="text-wrap">
				<h3 class="section__title">
					<span class="text--primary">간편한 비즈니스 운영 솔루션</span>으로<br>
					빠르게 비즈니스를 성장시키세요!
				</h3>
			</div>
		</div>
	</section>
</main>
</body>
</html>
