<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
    <div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<p class="section__text section__text--lg">
					문의하기
				</p>
				<p class="section__text">
					가치있는 이야기를 위한 연결의 시작
				</p>
			</div>

            <!-- <div class="section-block">
                <iframe src="" frameborder="0"></iframe>
            </div> -->
            <!-- <iframe src="" frameborder="0"></iframe> -->
            
            <button class="btn" type="button">문의하기</button>
		</div>
	</div>
</main>
</body>
</html>
