<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
    <div class="section bg-img about">
		<div class="section-block column">
			<div class="image-wrap">
				<img class="img" th:src="@{/images/culture_img01.png}" alt="">
			</div>
			<div class="text-wrap column">
				<p class="section__text section__text--lg">
					일상의 가치를 연결하는 사람들
				</p>
				<p class="section__text">
					큐브7에는 일상의 가치를 연결하기 위해, 각자의 풍미를 가진 다양한 인재들이 모여있습니다.<br>
                    이렇게 모인 Q.Savors 들은 서로의 지식과 경험을 나누고,<br>
					이를 통해 일상의 가치를 연결하는 완전한 서비스를 만들어가고 있습니다.
				</p>
			</div>
		</div>
	</div>
    <div class="section">
		<!-- <div class="section-block">
			<iframe src="" frameborder="0"></iframe>
		</div> -->
        <!-- <iframe src="" frameborder="0"></iframe> -->
	</div>
</main>
</body>
</html>
