<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
	<div class="section">
		<!-- Swiper -->
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img class="img" th:src="@{/images/main_slideImg01.png}" alt="회사소개 배너">
				</div>
				<div class="swiper-slide">
					<img class="img" th:src="@{/images/main_slideImg03.png}" alt="서비스소개 배너">
				</div>
				<div class="swiper-slide">
					<img class="img" th:src="@{/images/main_slideImg02.png}" alt="기업문화 배너">
				</div>
			</div>
			<div class="swiper-button-next"></div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					연결을 통해 성장하는 가치
				</h3>
				<p class="section__text">
					온라인과 오프라인, 가치와 가치를 연결합니다.
				</p>
			</div>
			<div class="section-block row pb-0 bg-grad-wy">
				<div class="image-wrap">
					<img class="img logo" th:src="@{/images/service/app/service-app01.png}" style="width: 400px;" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" th:src="@{/images/main_img01.png}" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<h3 class="section__title">
					일상의 가치를<br>
					연결하는 사람들
				</h3>
				<p class="section__text">
					우리는 서로 연결 될때<br>
					함께 발전 한다는 사실을 믿습니다.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/main_img02.png}" alt="">
			</div>
		</div>
	</div>
	<div class="section">
		<div class="section-block column">
			<div class="text-wrap column">
				<h3 class="section__title">
					가치를 연결하는 Q.Savors 이야기
				</h3>
				<p class="section__text">
					함께 성장하는 Q.Savors의 가치를 확인하세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img" th:src="@{/images/main_img03.png}" alt="">
			</div>
		</div>
	</div>
	<script>
		var swiper = new Swiper(".mainSwiper", {
		cssMode: true,
		autoplay: {
			delay: 2500,
			disableOnInteraction: false,
		},
		navigation: {
			nextEl: ".swiper-button-next",
			prevEl: ".swiper-button-prev",
		},
		pagination: {
			el: ".swiper-pagination",
			clickable: true,
		},
		mousewheel: true,
		keyboard: true,
		});
	</script>
</main>
</body>
</html>
