<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/layout}">

<body>
<main layout:fragment="content">
	<div class="section bg-grad-wy">
		<div class="section-block row">
			<div class="image-wrap">
				<img class="img logo" th:src="@{/images/service/app/service-app01.png}" alt="">
			</div>
			<div class="image-wrap">
				<img class="img pc" th:src="@{/images/service/app/service-app02_pc.png}" alt="">
				<img class="img mo" th:src="@{/images/service/app/service-app02_mo.png}" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-yy">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<div class="tag tag--ghost p-0"><span class="tag__text">전용 QR 코드</span></div>
				<h3 class="section__title">
					온라인과 오프라인을<br>
					연결하는 전용 QR 코드
				</h3>
				<p class="section__text">
					다양한 오프라인 제품과 온라인 콘텐츠를<br>
					전용 QR 코드로 간단하게 연결하세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" th:src="@{/images/service/app/service-app03_pc.png}" alt="">
				<img class="img mo" th:src="@{/images/service/app/service-app03_mo.png}" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-yg">
		<div class="section-block row row-reverse">
			<div class="text-wrap column column-end">
				<div class="tag tag--ghost p-0"><span class="tag__text">QR 스캔 화면</span></div>
				<h3 class="section__title">
					콘텐츠를 쉽게 연결하는<br>
					나만의 QR 스캔 화면
				</h3>
				<p class="section__text">
					다양한 템플릿과 간편한 커스텀 기능으로<br>
					콘텐츠를 연결하는 스캔 화면을 만드세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" th:src="@{/images/service/app/service-app04_pc.png}" alt="">
				<img class="img mo" th:src="@{/images/service/app/service-app04_mo.png}" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-grad-gy">
		<div class="section-block row">
			<div class="text-wrap column column-start">
				<div class="tag tag--ghost p-0"><span class="tag__text">가치 연결</span></div>
				<h3 class="section__title">
					가치를 연결하는<br>
					다양한 연결 방법
				</h3>
				<p class="section__text">
					링크 연결, 통화와 메시지, 지도와 캘린더 등<br>
					다양한 방법으로 가치를 연결하세요.
				</p>
			</div>
			<div class="image-wrap">
				<img class="img pc" th:src="@{/images/service/app/service-app05_pc.png}" alt="">
				<img class="img mo" th:src="@{/images/service/app/service-app05_mo.png}" alt="">
			</div>
		</div>
	</div>
	<div class="section bg-yellow">
		<div class="section-block column">
			<div class="text-wrap column">
				<p class="section__text section__text--lg">
					QRcall을 통해 나의 가치를 연결하세요
				</p>
				<p class="section__text">
					가치 연결을 위한 모든 기능을 무료로 이용하세요
				</p>
			</div>
			<div class="row">
				<div class="image-wrap">
					<img class="img" th:src="@{/images/service/app/service-app06.png}" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" th:src="@{/images/service/app/service-app07.png}" alt="">
				</div>
				<div class="image-wrap">
					<img class="img" th:src="@{/images/service/app/service-app08.png}" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class="section bg-yellow">
		<div class="section-block column">
			<div class="image-wrap">
				<img class="img logo" th:src="@{/images/service/app/service-app09.png}" alt="">
			</div>
		</div>
		<div class="image-wrap image-wrap--overflow">
			<img class="img" th:src="@{/images/service/app/service-app10.png}" alt="">
		</div>
	</div>
</main>
</body>
</html>
